.*
!.gitignore
tf
Documents
Pictures
Videos
Desktop
Downloads
Public
Templates
Music
Movies
dw
share
bkp
stuff
old_stuff
python
java
_new
*.bz2
*.gz
*.xz
*.bkp*
*.zip
*.tar*
.cache
.config
.face
.fontconfig
.local
.sudo_as_admin_successful
.vboxclient-*
