$I3CONFIG
#
# Set autoconnect to 1 to automatically connect at bootup.
# This information can be edited online using 'i3config'
autoconnect 0
thismud     Your Mud Name Here
telnet      Your Telnet Address Here
web         Your Web Address Here
adminemail  Your Admin Email Here
openstatus  Your Online Status
mudtype     DikuMUD
basemudlib  Smaug
mudlib      SmaugFUSS 1.8
minlevel    10
immlevel    51
adminlevel  63
implevel    65

# The services provided by your mud.
# Do not turn things on unless you KNOW your mud properly supports them!
# Refer to http://www.intermud.org for public packet specifications.
tell         1
beep         1
emoteto      1
who          1
finger       1
locate       1
channel      1
news         0
mail         0
file         0
auth         0
ucache       1
#
# Port numbers for OOB services. Leave as 0 if your mud does not support these.
smtp         0
ftp          0
nntp         0
http         0
pop3         0
rcp          0
amrcp        0
end
$END
