$IMCCONFIG

# Diku Alfa (IMC2 Freedom CL-2.2) config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      WileyMUD
Autoconnect    0
MinPlayerLevel 1
MinImmLevel    2
AdminLevel     51
Implevel       60
InfoName       WileyMUD III
InfoHost       wiley.shadowlord.org
InfoPort       3000
InfoEmail      quixadhal@shadowlord.org
InfoWWW        http://wiley.shadowlord.org:8088/
InfoBase       Diku Alfa
InfoDetails    Old School Pain and Suffering

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     97.107.133.86
ServerPort     8888
ClientPwd      50b785505b8004a200ab1ffc3403047302f8a4a559a4d3c29b50faf84d733f34
ServerPwd      9bba35d3c3b1ee2c6897167f424875f11c268eda2e0b74cbfcfe95be9148e8fc
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         0
End

$END
