[Unit]
Description=Disk World Address Server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=wiley
Group=wiley
Environment=LANG=en_US.utf8
Environment=LC_ALL=en_US.utf8
WorkingDirectory=/home/wiley/dw/bin
ExecStart=/home/wiley/dw/bin/addr_server 4444
Restart=always

[Install]
WantedBy=multi-user.target
