[Unit]
Description=WileyMUD III
Documentation=http://wileymud.themud.org/log/
Requires=network-online.target
Requires=postgresql.service
After=network-online.target
After=postgresql.service
#After=diskworld.service

[Service]
Type=oneshot
User=wiley
Group=users
Environment=LANG=en_US.utf8
Environment=LC_ALL=en_US.utf8
WorkingDirectory=/home/wiley/bin
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
